:root {
    --btn-color: rgb(235, 235, 235);
    --header-txt-color: rgba(0, 0, 0, 0.6);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


#logo {
    width: 20%;
    margin: 25vh auto 25px auto;
}

#logo img {
    display: block;
    margin: 0 auto;
}

#search-form {
    width: 30%;
    margin: 0 auto;
}

#search-box {
    background-image: url(../images/search-icon.png);
    background-repeat: no-repeat;
    background-size: 15px 15px;
    background-position: 15px 48%;
    padding: 5px 45px;
    font-size: 17px;
    font-weight: 400;
    width: 100%;
    height: 42px;
    outline: none;
    border-radius: 20px;
    border: 1px solid rgba(128, 128, 128, 0.2);
}

#search-box:hover {
    box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.2);
}

#btns {
    width: 50%;
    margin: 30px auto;
}

[type='button'] {
    cursor: pointer;
    border: 1px solid var(--btn-color);
    border-radius: 5px;
    opacity: 0.6;
    background: var(--btn-color);
    font-size: 0.9em;
    text-transform: capitalize;
    padding: 0px 15px;
    height: 36px;
    max-width: 146px;
}

[type='button']:hover {
    opacity: 0.8;
    border: 1px solid rgba(128, 128, 128, 0.4);
    box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.1);
}

[value='google search'] {
    margin-right: 8px;
}

#languages {
    font-size: 12px;
    letter-spacing: 0.015em;
    margin: 0 auto;
    text-align: center;
}

#languages a {
    margin: 0 3px;
    color: #1a0dab;
}

#languages a:visited {
    color: #609;
}

#header, #footer {
    position: fixed;
    width: 100%;
    display: flex;
    padding: 14px 22px;
}

#header {
    top: 0;
    justify-content: flex-end;
}

#header-items {
    display: flex;
    align-items: center;
}

#header-items li, #about li, #terms li {
    margin: 0 10px;
    font-size: 13.5px;
    color: var(--header-txt-color);
}

#header-items li a:visited, #about li a:visited, #terms li a:visited {
    color: var(--header-txt-color);
}

#menu {
    width: 18px;
    height: 18px;
    opacity: 0.5;
}

#menu:hover {
    opacity: 0.9;
}

#profile-pic {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

#footer {
    background: var(--btn-color);
    bottom: 0;
    flex-direction: column;
    border: 1px solid rgba(128, 128, 128, 0.2);
    font-size: 15px;
}

#footer-info {
    display: flex;
    justify-content: space-between;
    padding-top: 12px;
    letter-spacing: 0.001em;
}

#about, #terms {
    display: flex;
}

#country {
    padding-bottom: 12px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.2);
}

#country p {
    opacity: 0.5;
    letter-spacing: 0.01em;
    margin: 0 10px;
}

#about li a, #terms li a {
    opacity: 0.7;
    font-size: 14px;
}
